<form id="searchForm" action="/api/Works/Search(input='')">
    <input type="search" name="searchInput" id="searchInput" value="" />
    <input type="submit" value="submit" />
</form>
<article id="searchResults">
    <section id="searchSpinner" hidden="hidden">Searching...</section>
    <section class="searchResult">
        <a href="" class="searchResultTitle"></a>
        <div class="searchResultDescription"></div>
    </section>
</article>
<div id="searchNoScript">JavaScript disabled. Search form will redirect to API results.</div>
<div id="searchNoResults" hidden="hidden">No search results found.</div>
<script src="/js/Search.js"></script>