<form id="searchForm">
    <input type="search" name="searchInput" id="searchInput" value="" />
    <input type="submit" value="submit" />
</form>
<article id="searchResults">
    <section id="searchSpinner" hidden="hidden">Searching...</section>
    <section id="searchResult">
        <a href="" id="title"></a>
        <div id="description"></div>
    </section>
</article>
<script data-main="js/Search" src="js/lib/require.js"></script>