@using System.Linq;
@using Borogove;
@{
    ViewBag.Title = "Borogove Test Site";
}
@functions
{
    bool DocumentHasWhiteList(IDocument document)
    {
        var whitelistedUsers = document.Get<IEnumerable<string>>(AuthorizationMetadataNames.WhitelistedUsers);
        var whitelistedGroups = document.Get<IEnumerable<string>>(AuthorizationMetadataNames.WhitelistedGroups);
        return (whitelistedUsers != null && whitelistedUsers.Any()) ||
            (whitelistedGroups != null && whitelistedGroups.Any());
    }
}
<h1>Borogove Test Site</h1>
<hr />
<p>
    This is a test site for the Borogove metadata library. Carroll's Jabberwocky used as lipsum text.
</p>
<h2>It seems very pretty, but it's rather hard to understand:</h2>
<ul>
    @foreach (var doc in Documents.FromPipeline("Works"))
    {
        if (!DocumentHasWhiteList(doc))
        {
            <li><a href="@doc[WorkMetadataCanonicalNames.Path]">@doc[WorkMetadataCanonicalNames.Title]</a> - @doc[WorkMetadataCanonicalNames.CreatedDate]</li>
        }
    }
</ul>
