<h1>Borogove Test Site</h1>
<hr />
<p>
This is a test site for the Borogove metadata library. Carroll's Jabberwocky used as lipsum text.
</p>
<h2>It seems very pretty, but it's rather hard to understand:</h2>
<ul>
@foreach(var doc in Documents.FromPipeline("Posts"))
{
        <li><a href="@doc["PostFile"]">@doc["title"]</a> - @doc["createddate"]</li>
}
</ul>
